step-restore-cache: &step-restore-cache
  restore_cache:
    keys:
      - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
      - v1-dependencies-{{ arch }}

steps-test: &steps-test
  steps:
    - run: git config --global core.autocrlf input
    - checkout
    - *step-restore-cache
    - run: yarn
    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
    - run: yarn test
    - run: yarn build:docs

version: 2.1
orbs:
  win: circleci/windows@1.0.0
jobs:
  test-linux-10:
    docker:
      - image: circleci/node:10
    <<: *steps-test
  test-linux-12:
    docker:
      - image: circleci/node:12
    <<: *steps-test
  test-mac:
    macos:
      xcode: "10.2.0"
    <<: *steps-test
  test-windows:
    executor:
      name: win/vs2019
      shell: bash.exe
    <<: *steps-test

  release:
    docker:
      - image: circleci/node:10.19
    steps:
      - checkout
      - *step-restore-cache
      - run: yarn
      - run: npx semantic-release
workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test-linux-10
      - test-linux-12
      - test-mac
      - test-windows
      - release:
          requires:
            - test-linux-10
            - test-linux-12
            - test-mac
            - test-windows
          filters:
            branches:
              only:
                - master

